[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "strandCheckR"]
	path = strandCheckR
	url = https://github.com/uofabioinformaticshub/strandcheckr
	shallow = true
	registered = true
